.palette:not(:empty) {
  display: flex;
  overflow-x: auto;
  position: fixed;
  box-sizing: border-box;
  bottom: 10px;
  left: 10px;
  width: calc(100% - 20px);
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.palette:empty {
  display: none;
}

.palette_section_title {
  margin-bottom: 10px;
}
