.card {
  max-width: 400px;
}

.title {
  font-weight: 600;
  margin-bottom: 20px;
}

.description {
  margin-bottom: 20px;
}

.buttons {
  text-align: right;
}

.buttons > *:not(:last-child) {
  margin-right: 10px;
}
