.mega {
  font-size: 68px;
}

.xxlarge {
  font-size: 28px;
}

.xlarge {
  font-size: 20px;
}

.large {
  font-size: 18px;
}

.medium {
  font-size: 14px;
}

.small {
  font-size: 12px;
}

.tiny {
  font-size: 10px;
}
