@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
  font-family: "Inter";
  --accent: #0d3180;
  --accent-opposite: #fff;
  --controller: #e0e0ee;
  --controller-opposite: #1b191b;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #efefef;
}

.rootElement {
  position: relative;
  z-index: 1;
}
